@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
/*
font-family: 'Roboto', sans-serif;
*/
body {
  background-color: #34495e;
}

.container__responsive {
  width: 100%;
  text-align: center;
}

section h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

section p {
  margin: 12px;
  padding: 0;
  font-size: 20px;
  color: white;
}

/*Nav-bar*/
.menu-navegador {
  display: flex;
  background-color: #22313f;
  justify-content: space-between;
}
.menu-navegador a {
  text-decoration: none;
  font-size: 18px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
.menu-navegador a:visited {
  color: whitesmoke;
}
.menu-navegador a img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  margin-left: 10px;
}
.menu-navegador ul {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  list-style-type: none;
  color: white;
  max-width: 100%;
}
.menu-navegador ul li {
  display: flex;
  padding: 10px;
  font-weight: bold;
}

/*Index cards top*/
.container__index {
  padding: 20px;
}

.row {
  max-width: fit-content;
  justify-content: center;
  color: black;
}

.col-sm-4 {
  background-color: #34495e;
  border-style: 5px outset;
}

.smallbox {
  background-color: #844e89;
  font-size: 18px;
  font-family: "Roboto" sans-serif;
  font-weight: bold;
  color: white;
  position: absolute;
  top: -9px;
  right: -8px;
}

/*Bootstrap cards edits -index-*/
.col-md-4 img {
  object-fit: cover;
}

.col-md-8 {
  background-color: #34495e;
}

.card mb-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 540px;
}

.card-body {
  background-color: #34495e;
}

.img-fluid.rounded-start {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  color: white;
}

.card-text {
  color: white;
}

.text-body-secondary {
  color: white;
}

/*Responsive queries navbar*/
@media only screen and (max-width: 767px) {
  .menu-navegador ul {
    height: 230px;
    flex-direction: column;
    text-align: center;
    background-color: #22313f;
  }
  .menu-navegador {
    height: 230px;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .menu-navegador {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  .productos-container {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    object-fit: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .productos-container {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    object-fit: cover;
  }
}
/* Productos */
h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Roboto" sans-serif;
  font-weight: bold;
  color: white;
}

.header__shop {
  text-align: center;
  font-size: 24px;
  font-family: "Roboto" sans-serif;
  font-weight: bolder;
  margin: auto;
}

.productos-container {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
}

.productos__item {
  position: relative;
  border: 5px outset #22313f;
  background-color: #34495e;
  width: 400px;
  height: 500px;
}
.productos__item a {
  color: white;
  margin: auto 130px;
  padding: 5px;
}

.productos__img {
  width: 100%;
  height: 70%;
  object-fit: scale-down;
}

.producto__title {
  color: black;
  justify-content: center;
  text-align: center;
  margin-top: -50px;
  font-size: 18px;
  font-family: "Roboto" sans-serif;
  font-weight: bold;
}
.producto__title__description {
  font-size: 14px;
  font-family: "Roboto" sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
}

/*Quienes somos*/
h4 {
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  font-family: "Roboto" sans-serif;
  font-weight: bold;
  color: white;
  font-style: italic;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 4fr);
  grid-template-rows: auto;
  padding: 20px;
}

.container__galeria {
  width: 100%;
  height: 300px;
  background-color: #22313f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  border: 6px outset white;
  border-radius: 20px;
}

.container__galeria h3 {
  font-size: 30px;
}

.hide {
  display: none;
}

.container__galeria:hover .hide {
  display: block;
  color: grey;
  transition: 0.5s;
}

/* Galeria*/
.title__subtitle {
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: "Roboto" sans-serif;
  font-weight: normal;
}

h2 {
  color: white;
  text-align: center;
}

.carousel.slide {
  border: 3px solid #22313f;
  border-radius: 20px;
}

.carousel-inner img {
  object-fit: cover;
  height: 700px;
  justify-content: center;
  border-radius: 18px;
}

.carousel-inner2 {
  object-fit: cover;
  height: 700px;
  justify-content: center;
  border-radius: 18px;
}

/*Contacto*/
form {
  text-align: center;
  margin: auto;
  padding: 20px;
  max-width: 500px;
  border: 2px outset #22313f;
  border-radius: 15px;
  color: black;
}

input {
  display: block;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  text-align: center;
}

h6 {
  text-align: center;
  padding: 10px;
  margin: auto;
  font-size: 48px;
  font-family: "Roboto" sans-serif;
  font-weight: bold;
}

iframe {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-top: auto;
}

footer .ubicacion {
  font-size: 18px;
  font-family: "Roboto" sans-serif;
  font-weight: bold;
  text-align: left;
  padding-right: 15px;
  margin-left: 100px;
}

footer iframe {
  position: relative;
  max-width: 100%;
  width: 1900px;
  height: 200px;
  align-items: center;
  margin-top: -15px;
}

/*Footer inicio*/
.links {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

footer .signature {
  font-size: 10px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
