/*Contacto*/
form {
    text-align: center;
    margin: auto;
    padding: 20px;
    max-width: 500px;
    border: 2px outset #22313f;
    border-radius: 15px;
    color: black;
}

input {
    display: block;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
}

h6 {
    text-align: center;
    padding: 10px;
    margin: auto;
    @include fonts(48px, 'Roboto' sans-serif, bold);
}

iframe {
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-top: auto;

}

footer .tel {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding-right: 15px;
    margin-left: 100px;
}

footer iframe {
    position: relative;
    max-width: 100%;
    width: 1900px;
    height: 200px;
    align-items: center;
    margin-top: -15px;
}