/*Responsive queries navbar*/
@media only screen and (max-width: 767px) {

    .productos-container {
        display: flex;
        @include flexbox(column,center,wrap);
        object-fit: cover;

    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .productos-container {
        display: flex;
        @include flexbox(column,center,wrap);
        object-fit: cover;

    }
}

@media screen and (min-width: 1024px) {
    .menu-navegador {
        display: flex;
        flex-direction: row;
    }
}
